@media only screen and (max-width: 600px) {
    body{
        transform: translate(10px);
    }
}
@media only screen and (max-width: 480px) {
    body{
        transform: translate(40px);
    }
}
@media only screen and (max-width: 320px) {
    body{
        transform: translate(70px);
    }
}
div{
    height: 150px;
    width: auto;
    /* border: 2px solid black; */
    padding: 2%;
    float: left;
    margin-right: 20px;
    margin-bottom: 40px;
    background: red;
    text-transform: capitalize;
    line-height: 7px;
    /* transform: translate(50%, 50%); */
    border-radius:10px;
    /* opacity: 0.9; */
}
div:hover{
    opacity: 0.9;
}

body{
    color: white;
}

p{
    line-height: 20px;
}
